# Don't upload node modules (they are downloaded automatically)
node_modules/

# Don't upload build folders
build/
dist/
.vite/

# Don't upload environment config files (they may contain passwords)
.env
.env.*.local

# Don't upload coverage reports, logs, and error files
coverage/
logs
*.log

# Don't upload your editor config files (VS Code settings)
.vscode/

# Don't upload Mac OS system files
.DS_Store
